.map {
  background-color: var(--color-light);
  height: 100%;
}

.chapter-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-l);
  position: relative;
}

@media (min-width: 48em) {
  .chapter-main {
    grid-template-columns: 1fr 1fr;
  }
}

.chapter-main__content {
  grid-column: 1;
}

.chapter-main__map {
  grid-column: 2;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 48em) {
  .chapter-main__map {
    display: none;
  }
}