.chapter-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--size-2);

  text-align: right;

  h3 {
    font-size: var(--size-0);
  }
}

.chapter-header__toc {
  display: flex;
  flex-direction: column;
  a { 
    color: var(--secondary-color); 
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
}

