.chapter-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "header"
    "content";

  @media (min-width: 768px) { 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr;
    grid-template-areas:
      "header content";
  }


}

.chapter-layout__header { grid-area: header; }
.chapter-layout__content { grid-area: content; }
