.map-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.map-grid__map {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.map-grid__content {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  padding: var(--space-l);
}

.map,
.data,
.resource__list {
  transform: translateY(-8svh);
}

.map-grid__idrc-logo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.map-grid__summary {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
