.map-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.map-grid__map {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.map-grid__content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: var(--space-l);
}


