.post-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--space-xs);
  padding-inline: var(--space-s-m);
}

@media (min-width: 768px) {
  .post-layout {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--space-m-l);
    grid-template-columns: 1fr 2fr;
  }

  .post-layout > * { grid-column:2/3; }
  .post-layout > :where(h3, h4, .left-column, hgroup) { grid-column:1/2; }

  .post-layout p:has(picture) {
    /* 
      @seidgy: não consegui resolver esse problema da imagem com o grid 
      ela precisa ocupar as duas colunas do grid no desktop.
    */
    grid-column: 1/3;
    margin-inline: 0;
    padding-block: var(--space-s-m);
  }

  .post-layout > :where(h3, h4, .left-column, hgroup) {
    text-align: right;
    padding-inline-end: var(--space-s-m);
    padding-block-end: var(--space-s-m);
  }

  .post-layout h2 + * {
    padding-block-start: var(--space-xl-2xl);
  }
  
  .post-layout h3 + *,
  .post-layout hgroup + * {
    padding-block-start: var(--space-l-xl);
  }

  .post-layout h4 + * {
    padding-block-start: var(--space-m-l);
  }

  .post-layout h5 + * {
    padding-block-start: var(--space-s-m);
  }
}




.post-layout h2 {
  padding-block-start: var(--space-xl-2xl);
  
}

.post-layout h3 {
  padding-block-start: var(--space-l-xl);
  
}

.post-layout hgroup {
  padding-block-start: var(--space-l-xl);

  * { padding-block: 0; }
  
  h4 {
    text-transform: uppercase;
    font-family: var(--font-brow); /* @seidgy - não consegui fazer ele pegar a fonte Clash (--font-brow) */
    padding-block-start: 0;
  }
}

.post-layout h4 {
  padding-block-start: var(--space-m-l);
}

.post-layout h5 {
  padding-block-start: var(--space-s-m);
}

.post-layout .list {
  padding-block: 0;
  margin-block: 0;
}

.post-layout .list li + li {
  padding-block-start: var(--space-xs-s) !important;
}

ol {
  margin-top: 0;
}

