.post-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--space-xs);
  padding-inline: var(--space-s-m);
  &:first-child {
    margin-top: -10vh;
  }
}

@media (min-width: 768px) {
  .post-layout {
    max-width: none;
    margin-inline: auto;
    padding-inline: 0;
    grid-template-columns: calc((100% - 1200px) / 2 + var(--space-m-l)) 1fr 2fr calc((100% - 1200px) / 2 + var(--space-m-l));
    &:first-child {
      margin-top: -20vh;
    }
  }

  .post-layout > * { grid-column:3/4; }
  .post-layout > :where(h3, h4, .left-column, hgroup) { grid-column:2/3; }
  .post-layout > h2,
  .post-layout >.bordered-grid { 
    grid-column:2/3; 
    text-align: center;
    padding-block: 0;
    margin-block: 0;
  }

  .post-layout > .bordered-grid + h3 {
    grid-column:3/4; 
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
  }

    .post-layout > .bordered-grid + h3 > a {
      font-weight: 700;
    }

  .post-layout > .bordered-grid h4 {
    padding: 0;
  }

    .post-layout > .bordered-grid h4 > a {
      font-weight: 600;
    }



  .post-layout p:has(picture, img) {
    
    /* 
      @seidgy: não consegui resolver esse problema da imagem com o grid 
      ela precisa ocupar as duas colunas do grid no desktop.
    */
    grid-column: 2/4;
    margin-inline: 0;
    padding-block: var(--space-s-m);
  }

  .post-layout > :where(h3, h4, .left-column, hgroup) {
    text-align: right;
    padding-inline-end: var(--space-s-m);
    padding-block-end: var(--space-s-m);
  }

  .post-layout h2 + * {
    padding-block-start: var(--space-xl-2xl);
  }
  
  .post-layout h3 + *,
  .post-layout hgroup + * {
    padding-block-start: var(--space-l-xl);
  }

  .post-layout h4 + * {
    padding-block-start: var(--space-m-l);
  }

  .post-layout h5 + * {
    padding-block-start: var(--space-s-m);
  }

  .post-layout .xl-image {
    grid-column: 1/5;
  }
}

.post-layout .xl-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-block: var(--space-2xl);
}


.post-layout .header-start {
  text-align: start;
  width: 100%;
}

.post-layout h2 {
  padding-block-start: var(--space-xl-2xl);
  
}

.post-layout h3 {
  padding-block-start: var(--space-l-xl);
  
}

.post-layout hgroup {
  padding-block-start: var(--space-l-xl);

  * { padding-block: 0; }
  
  h4 {
    text-transform: uppercase;
    font-family: var(--font-brow); /* @seidgy - não consegui fazer ele pegar a fonte Clash (--font-brow) */
    padding-block-start: 0;
  }
}

.post-layout h4 {
  padding-block-start: var(--space-m-l);
}

.post-layout h5 {
  padding-block-start: var(--space-s-m);
}

.post-layout .list {
  padding-block: 0;
  margin-block: 0;
}

.post-layout .list li + li {
  padding-block-start: var(--space-xs-s) !important;
}

ol {
  margin-top: 0;
}

  .post-layout ul {
    padding: 0;
  }

  .post-layout .bordered-grid + ul li {
    list-style: none;
    padding-block: var(--space-2xs);
    font-size: var(--size-0);
    border-top: 1px solid var(--secondary-color);
  }

  .post-layout .bordered-grid + ul li:last-child {
    border-bottom: 1px solid var(--secondary-color);
  }

  .post-layout .bordered-grid + ul li::marker {
    content: '';
  }

  .post-layout .bordered-grid + ul li strong {
    color: var(--base-color);
  }

  .post-layout .bordered-grid h2,
  .post-layout .bordered-grid h3,
  .post-layout .bordered-grid h4 {
    padding: 0;
  }

  .post-layout .bordered-grid h4 {
    text-align: center;
  }

  .post-layout .bordered-grid + blockquote {
    padding: var(--space-m);
    display: flex;
    flex-flow: column;
    gap: var(--space-2xs);
    border: 1px solid var(--secondary-color);
  }

    .post-layout .bordered-grid + blockquote h5 {
      padding: 0;
      font-size: var(--size-2);
      color: var(--primary-color);
    }

    .post-layout .bordered-grid + blockquote p {
      border: none;
      padding: 0;
      font-size: var(--size-1);
    }

    .post-layout .bordered-grid + blockquote p strong {
      background: none;
    }

    .card-list h4,
    .card-list p {
      padding-block: 0;
    }

    .post-layout .percentage-graph {
      grid-column: 2/3;
      @media (max-width: 768px) {
        grid-column: 1;
      }
    }

    .post-layout .graph-text h4, 
    .post-layout .graph-text p {
      padding: 0;
      margin: 0;
    }

    .post-layout .graph-text strong {
      background: none;
      color: var(--base-color);
    }

    