/* Color Values */
:root {
  --white-hsl: 255, 100%, 100%;
  --black-hsl: 257, 88%, 10%;
  --base-hsl: 257, 88%, 10%;
  --primary-hsl: 184, 58%, 32%;
  --secondary-hsl: 23, 41%, 91%;
}

/* Solid Colors */
:root {
  --white-color: hsl(var(--white-hsl));
  --black-color: hsl(var(--black-hsl));
  --base-color: hsl(var(--base-hsl));
  --primary-color: hsl(var(--primary-hsl));
  --secondary-color: hsl(var(--secondary-hsl));
}

/* Color Mix | Tints */
:root {
  --base-color-98-tint: color-mix(in srgb, var(--base-color) 98%, white 2%);
  --base-color-90-tint: color-mix(in srgb, var(--base-color) 90%, white 10%);
  --base-color-80-tint: color-mix(in srgb, var(--base-color) 80%, white 20%);
  --base-color-73-tint: color-mix(in srgb, var(--base-color) 73%, white 27%);
  --base-color-70-tint: color-mix(in srgb, var(--base-color) 70%, white 30%);
  --base-color-60-tint: color-mix(in srgb, var(--base-color) 60%, white 40%);
  --base-color-50-tint: color-mix(in srgb, var(--base-color) 50%, white 50%);
  --base-color-40-tint: color-mix(in srgb, var(--base-color) 40%, white 60%);
  --base-color-30-tint: color-mix(in srgb, var(--base-color) 30%, white 70%);
  --base-color-20-tint: color-mix(in srgb, var(--base-color) 20%, white 80%);
  --base-color-11-tint: color-mix(in srgb, var(--base-color) 11%, white 89%);
  --base-color-10-tint: color-mix(in srgb, var(--base-color) 10%, white 90%);
  --base-color-05-tint: color-mix(in srgb, var(--base-color) 5%, white 95%);
  --base-color-02-tint: color-mix(in srgb, var(--base-color) 2%, white 98%);

  --primary-color-98-tint: color-mix(in srgb, var(--primary-color) 98%, white 2%);
  --primary-color-90-tint: color-mix(in srgb, var(--primary-color) 90%, white 10%);
  --primary-color-80-tint: color-mix(in srgb, var(--primary-color) 80%, white 20%);
  --primary-color-73-tint: color-mix(in srgb, var(--primary-color) 73%, white 27%);
  --primary-color-70-tint: color-mix(in srgb, var(--primary-color) 70%, white 30%);
  --primary-color-60-tint: color-mix(in srgb, var(--primary-color) 60%, white 40%);
  --primary-color-50-tint: color-mix(in srgb, var(--primary-color) 50%, white 50%);
  --primary-color-40-tint: color-mix(in srgb, var(--primary-color) 40%, white 60%);
  --primary-color-30-tint: color-mix(in srgb, var(--primary-color) 30%, white 70%);
  --primary-color-20-tint: color-mix(in srgb, var(--primary-color) 20%, white 80%);
  --primary-color-11-tint: color-mix(in srgb, var(--primary-color) 11%, white 89%);
  --primary-color-10-tint: color-mix(in srgb, var(--primary-color) 10%, white 90%);
  --primary-color-05-tint: color-mix(in srgb, var(--primary-color) 5%, white 95%);
  --primary-color-02-tint: color-mix(in srgb, var(--primary-color) 2%, white 98%);

  --secondary-color-98-tint: color-mix(in srgb, var(--secondary-color) 98%, white 2%);
  --secondary-color-90-tint: color-mix(in srgb, var(--secondary-color) 90%, white 10%);
  --secondary-color-80-tint: color-mix(in srgb, var(--secondary-color) 80%, white 20%);
  --secondary-color-73-tint: color-mix(in srgb, var(--secondary-color) 73%, white 27%);
  --secondary-color-70-tint: color-mix(in srgb, var(--secondary-color) 70%, white 30%);
  --secondary-color-60-tint: color-mix(in srgb, var(--secondary-color) 60%, white 40%);
  --secondary-color-50-tint: color-mix(in srgb, var(--secondary-color) 50%, white 50%);
  --secondary-color-40-tint: color-mix(in srgb, var(--secondary-color) 40%, white 60%);
  --secondary-color-30-tint: color-mix(in srgb, var(--secondary-color) 30%, white 70%);
  --secondary-color-20-tint: color-mix(in srgb, var(--secondary-color) 20%, white 80%);
  --secondary-color-11-tint: color-mix(in srgb, var(--secondary-color) 11%, white 89%);
  --secondary-color-10-tint: color-mix(in srgb, var(--secondary-color) 10%, white 90%);
  --secondary-color-05-tint: color-mix(in srgb, var(--secondary-color) 5%, white 95%);
  --secondary-color-02-tint: color-mix(in srgb, var(--secondary-color) 2%, white 98%);

  --black-color-98-tint: color-mix(in srgb, var(--black-color) 98%, white 2%);
  --black-color-90-tint: color-mix(in srgb, var(--black-color) 90%, white 10%);
  --black-color-80-tint: color-mix(in srgb, var(--black-color) 80%, white 20%);
  --black-color-73-tint: color-mix(in srgb, var(--black-color) 73%, white 27%);
  --black-color-70-tint: color-mix(in srgb, var(--black-color) 70%, white 30%);
  --black-color-60-tint: color-mix(in srgb, var(--black-color) 60%, white 40%);
  --black-color-50-tint: color-mix(in srgb, var(--black-color) 50%, white 50%);
  --black-color-40-tint: color-mix(in srgb, var(--black-color) 40%, white 60%);
  --black-color-30-tint: color-mix(in srgb, var(--black-color) 30%, white 70%);
  --black-color-20-tint: color-mix(in srgb, var(--black-color) 20%, white 80%);
  --black-color-11-tint: color-mix(in srgb, var(--black-color) 11%, white 89%);
  --black-color-10-tint: color-mix(in srgb, var(--black-color) 10%, white 90%);
  --black-color-05-tint: color-mix(in srgb, var(--black-color) 5%, white 95%);
  --black-color-02-tint: color-mix(in srgb, var(--black-color) 2%, white 98%);

}

/* Color Mix | Shade */
:root {
  --primary-color-98-shade: color-mix(in srgb, var(--primary-color) 98%, black 2%);
  --primary-color-90-shade: color-mix(in srgb, var(--primary-color) 90%, black 10%);
  --primary-color-80-shade: color-mix(in srgb, var(--primary-color) 80%, black 20%);
  --primary-color-73-shade: color-mix(in srgb, var(--primary-color) 73%, black 27%);
  --primary-color-70-shade: color-mix(in srgb, var(--primary-color) 70%, black 30%);
  --primary-color-60-shade: color-mix(in srgb, var(--primary-color) 60%, black 40%);
  --primary-color-50-shade: color-mix(in srgb, var(--primary-color) 50%, black 50%);
  --primary-color-40-shade: color-mix(in srgb, var(--primary-color) 40%, black 60%);
  --primary-color-30-shade: color-mix(in srgb, var(--primary-color) 30%, black 70%);
  --primary-color-20-shade: color-mix(in srgb, var(--primary-color) 20%, black 80%);
  --primary-color-11-shade: color-mix(in srgb, var(--primary-color) 11%, black 89%);
  --primary-color-10-shade: color-mix(in srgb, var(--primary-color) 10%, black 90%);
  --primary-color-05-shade: color-mix(in srgb, var(--primary-color) 5%, black 95%);
  --primary-color-02-shade: color-mix(in srgb, var(--primary-color) 2%, black 98%);

  --secondary-color-98-shade: color-mix(in srgb, var(--secondary-color) 98%, black 2%);
  --secondary-color-90-shade: color-mix(in srgb, var(--secondary-color) 90%, black 10%);
  --secondary-color-80-shade: color-mix(in srgb, var(--secondary-color) 80%, black 20%);
  --secondary-color-73-shade: color-mix(in srgb, var(--secondary-color) 73%, black 27%);
  --secondary-color-70-shade: color-mix(in srgb, var(--secondary-color) 70%, black 30%);
  --secondary-color-60-shade: color-mix(in srgb, var(--secondary-color) 60%, black 40%);
  --secondary-color-50-shade: color-mix(in srgb, var(--secondary-color) 50%, black 50%);
  --secondary-color-40-shade: color-mix(in srgb, var(--secondary-color) 40%, black 60%);
  --secondary-color-30-shade: color-mix(in srgb, var(--secondary-color) 30%, black 70%);
  --secondary-color-20-shade: color-mix(in srgb, var(--secondary-color) 20%, black 80%);
  --secondary-color-11-shade: color-mix(in srgb, var(--secondary-color) 11%, black 89%);
  --secondary-color-10-shade: color-mix(in srgb, var(--secondary-color) 10%, black 90%);
  --secondary-color-05-shade: color-mix(in srgb, var(--secondary-color) 5%, black 95%);
  --secondary-color-02-shade: color-mix(in srgb, var(--secondary-color) 2%, black 98%);
}

/* Color Variables - Alpha */
:root {
  --black-color-05-alpha: hsla(var(--black-hsl), 0.05);
  --black-color-10-alpha: hsla(var(--black-hsl), 0.1);
  --black-color-15-alpha: hsla(var(--black-hsl), 0.15);
  --black-color-20-alpha: hsla(var(--black-hsl), 0.2);
  --black-color-25-alpha: hsla(var(--black-hsl), 0.25);
  --black-color-30-alpha: hsla(var(--black-hsl), 0.3);
  --black-color-35-alpha: hsla(var(--black-hsl), 0.35);
  --black-color-40-alpha: hsla(var(--black-hsl), 0.4);
  --black-color-45-alpha: hsla(var(--black-hsl), 0.45);
  --black-color-50-alpha: hsla(var(--black-hsl), 0.5);
  --black-color-55-alpha: hsla(var(--black-hsl), 0.55);
  --black-color-60-alpha: hsla(var(--black-hsl), 0.6);
  --black-color-65-alpha: hsla(var(--black-hsl), 0.65);
  --black-color-70-alpha: hsla(var(--black-hsl), 0.7);
  --black-color-73-alpha: hsla(var(--black-hsl), 0.73);
  --black-color-75-alpha: hsla(var(--black-hsl), 0.75);
  --black-color-80-alpha: hsla(var(--black-hsl), 0.8);
  --black-color-85-alpha: hsla(var(--black-hsl), 0.85);
  --black-color-90-alpha: hsla(var(--black-hsl), 0.9);
  --black-color-95-alpha: hsla(var(--black-hsl), 0.95);

  --white-color-05-alpha: hsla(var(--white-hsl), .05);
  --white-color-10-alpha: hsla(var(--white-hsl), .10);
  --white-color-11-alpha: hsla(var(--white-hsl), .11);
  --white-color-15-alpha: hsla(var(--white-hsl), .15);
  --white-color-20-alpha: hsla(var(--white-hsl), .20);
  --white-color-25-alpha: hsla(var(--white-hsl), .25);
  --white-color-30-alpha: hsla(var(--white-hsl), .30);
  --white-color-35-alpha: hsla(var(--white-hsl), .35);
  --white-color-40-alpha: hsla(var(--white-hsl), .40);
  --white-color-45-alpha: hsla(var(--white-hsl), .45);
  --white-color-50-alpha: hsla(var(--white-hsl), .50);
  --white-color-55-alpha: hsla(var(--white-hsl), .55);
  --white-color-60-alpha: hsla(var(--white-hsl), .60);
  --white-color-65-alpha: hsla(var(--white-hsl), .65);
  --white-color-70-alpha: hsla(var(--white-hsl), .70);
  --white-color-73-alpha: hsla(var(--white-hsl), .73);
  --white-color-75-alpha: hsla(var(--white-hsl), .75);
  --white-color-80-alpha: hsla(var(--white-hsl), .80);
  --white-color-85-alpha: hsla(var(--white-hsl), .85);
  --white-color-90-alpha: hsla(var(--white-hsl), .90);
  --white-color-95-alpha: hsla(var(--white-hsl), .95);

  --primary-color-05-alpha: hsla(var(--primary-hsl), 0.05);
  --primary-color-10-alpha: hsla(var(--primary-hsl), 0.1);
  --primary-color-11-alpha: hsla(var(--primary-hsl), 0.11);
  --primary-color-15-alpha: hsla(var(--primary-hsl), 0.15);
  --primary-color-20-alpha: hsla(var(--primary-hsl), 0.2);
  --primary-color-25-alpha: hsla(var(--primary-hsl), 0.25);
  --primary-color-30-alpha: hsla(var(--primary-hsl), 0.3);
  --primary-color-35-alpha: hsla(var(--primary-hsl), 0.35);
  --primary-color-40-alpha: hsla(var(--primary-hsl), 0.4);
  --primary-color-45-alpha: hsla(var(--primary-hsl), 0.45);
  --primary-color-50-alpha: hsla(var(--primary-hsl), 0.5);
  --primary-color-55-alpha: hsla(var(--primary-hsl), 0.55);
  --primary-color-60-alpha: hsla(var(--primary-hsl), 0.6);
  --primary-color-65-alpha: hsla(var(--primary-hsl), 0.65);
  --primary-color-70-alpha: hsla(var(--primary-hsl), 0.7);
  --primary-color-73-alpha: hsla(var(--primary-hsl), 0.73);
  --primary-color-75-alpha: hsla(var(--primary-hsl), 0.75);
  --primary-color-80-alpha: hsla(var(--primary-hsl), 0.8);
  --primary-color-85-alpha: hsla(var(--primary-hsl), 0.85);
  --primary-color-90-alpha: hsla(var(--primary-hsl), 0.9);
  --primary-color-95-alpha: hsla(var(--primary-hsl), 0.95);

  --secondary-color-05-alpha: hsla(var(--secondary-hsl), 0.05);
  --secondary-color-10-alpha: hsla(var(--secondary-hsl), 0.1);
  --secondary-color-11-alpha: hsla(var(--secondary-hsl), 0.11);
  --secondary-color-15-alpha: hsla(var(--secondary-hsl), 0.15);
  --secondary-color-20-alpha: hsla(var(--secondary-hsl), 0.2);
  --secondary-color-25-alpha: hsla(var(--secondary-hsl), 0.25);
  --secondary-color-30-alpha: hsla(var(--secondary-hsl), 0.3);
  --secondary-color-35-alpha: hsla(var(--secondary-hsl), 0.35);
  --secondary-color-40-alpha: hsla(var(--secondary-hsl), 0.4);
  --secondary-color-45-alpha: hsla(var(--secondary-hsl), 0.45);
  --secondary-color-50-alpha: hsla(var(--secondary-hsl), 0.5);
  --secondary-color-55-alpha: hsla(var(--secondary-hsl), 0.55);
  --secondary-color-60-alpha: hsla(var(--secondary-hsl), 0.6);
  --secondary-color-65-alpha: hsla(var(--secondary-hsl), 0.65);
  --secondary-color-70-alpha: hsla(var(--secondary-hsl), 0.7);
  --secondary-color-73-alpha: hsla(var(--secondary-hsl), 0.73);
  --secondary-color-75-alpha: hsla(var(--secondary-hsl), 0.75);
  --secondary-color-80-alpha: hsla(var(--secondary-hsl), 0.8);
  --secondary-color-85-alpha: hsla(var(--secondary-hsl), 0.85);
  --secondary-color-90-alpha: hsla(var(--secondary-hsl), 0.9);
  --secondary-color-95-alpha: hsla(var(--secondary-hsl), 0.95);

}
