/* @link https://utopia.fyi/space/calculator?c=320,14,1.25,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.4375rem, 0.3723rem + 0.3261vw, 0.625rem);
  --space-xs: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
  --space-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-m: clamp(1.3125rem, 1.1168rem + 0.9783vw, 1.875rem);
  --space-l: clamp(1.75rem, 1.4891rem + 1.3043vw, 2.5rem);
  --space-xl: clamp(2.625rem, 2.2337rem + 1.9565vw, 3.75rem);
  --space-2xl: clamp(3.5rem, 2.9783rem + 2.6087vw, 5rem);
  --space-3xl: clamp(5.25rem, 4.4674rem + 3.913vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vw, 0.625rem);
  --space-2xs-xs: clamp(0.4375rem, 0.2636rem + 0.8696vw, 0.9375rem);
  --space-xs-s: clamp(0.6875rem, 0.4918rem + 0.9783vw, 1.25rem);
  --space-s-m: clamp(0.875rem, 0.5272rem + 1.7391vw, 1.875rem);
  --space-m-l: clamp(1.3125rem, 0.8995rem + 2.0652vw, 2.5rem);
  --space-l-xl: clamp(1.75rem, 1.0543rem + 3.4783vw, 3.75rem);
  --space-xl-2xl: clamp(2.625rem, 1.7989rem + 4.1304vw, 5rem);
  --space-2xl-3xl: clamp(3.5rem, 2.1087rem + 6.9565vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.3098rem + 2.8261vw, 2.5rem);
}


/* @link https://utopia.fyi/type/calculator?c=320,12,1.25,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --size--2: clamp(0.48rem, 0.416rem + 0.32vw, 0.8rem);
  --size--1: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
  --size-0: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  --size-1: clamp(0.9375rem, 0.8125rem + 0.625vw, 1.5625rem);
  --size-2: clamp(1.1719rem, 1.0156rem + 0.7813vw, 1.9531rem);
  --size-3: clamp(1.4648rem, 1.2695rem + 0.9766vw, 2.4414rem);
  --size-4: clamp(1.8311rem, 1.5869rem + 1.2207vw, 3.0518rem);
  --size-5: clamp(2.2888rem, 1.9836rem + 1.5259vw, 3.8147rem);
}