/* Global variables.  */
/* This turned out a little too complex, and probably is overly specific. I'm still fiddling with this. Should work by itself though, once you define your design token colors.
Adjust fallbacks if modern color syntax not supported for text and bg variants. */

/* Basic variable definitions for color schemes */
:root {
  --button-padding-block: var(--space-2xs);
  --button-padding-inline: var(--space-s);
  --base-border-width: 0;
  
  --gutter: var(--space-m-l);
  --border-radius: 0;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  
  --tracking-s: -0.075ch;
  --tracking: 0;
  --tracking-wide: 0.05ch;

  --gradient-rainbow: linear-gradient(90deg, #cf4662 10%, #fbbe25 30%, #62c95c 50%, #08bccb 75%, #a977d5 90%);
  --gradient-conic: conic-gradient(
    var(--color-primary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-tertiary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-base-dark) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );

  /* Font Variation Settings */
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --box-shadow-inset: inset rgba(0, 0, 0, 0.03) 0px 0px 4px 0px;

  --box-shadow-s: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px;

  --box-shadow-m: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.035) 0px 0px 16px 0px;

  --box-shadow-l: rgba(0, 0, 0, 0.03) 0px 3px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 4px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 16px 0px, rgba(0, 0, 0, 0.035) 0px 0px 32px 0px;

  
}

/* Default / Light theme specific variables */
:root,
:root[data-theme='light'] {
  --color-dark: var(--color-base-dark);
  --color-light: var(--color-base-light);
  --color-text: var(--color-base-dark);
  --color-bg: var(--color-light);
  --color-base: var(--color-base-dark);
  --color-primary: var(--color-primary-highlight);
  --color-secondary: var(--color-secondary-highlight);
  --color-tertiary: var(--color-tertiary-highlight);
  /* Fallbacks if modern color syntax not supported */
  --color-text-accent: #505050;
  --color-bg-accent: #fdfdfd;
  --color-bg-accent-2: #f7f7f7;
}

